# Einzelne Datei ignorieren
tk-inter-datepicker.py

# Ordner ignorieren
__pycache__/*
env/*
tests/*

# Ignoriere alle Dateien im Ordner /data außer die TEST-Dateien
data/*
!data/TEST_Gas.json
!data/TEST_Strom.json
!data/TEST_Wasser.json
!data/TEST_Heizstrom.json